div(class='card m-1 d-inline-block w-100')
  div.card-header
    h3(class='card-title text-truncate') #{cardTitle}
  div.card-body
    ul(class='list-group list-group-flush list-unstyled')
      each shift in shifts
        if shift.now
          li.shift-item.font-weight-bold= shift.str
        else
          li.shift-item= shift.str
